/* Generic page appearance */
html { background: black; }

body {
  font-family: monospace;
  color: #ddffdd;
  text-shadow: 0 0 30px #118811;
  max-width: 40em;
  margin: 0 auto;
  padding: 1em;
}

/* Creation time */
#header > time {
  margin: 1em 0;
  color: #88dd88;
  font-size: 0.8em;
}

/* Navigation links */
a.previous { padding: 0.2em 0.5em 0.2em 0; float: left; }
a.next { padding: 0.2em 0 0.2em 0.5em; float: right; }

img { display: block; position: relative; width: 100%; }

p { text-align: justify; }

a { font-weight: bold; color: inherit; }

/* Embedded code-snippets */
code { color: #88dd88; white-space: pre-wrap; }
pre > code { display: block; margin-left: 1em; }

/* Quotations */
blockquote { color: #88dd88; font-style: italic; margin: 0 1em; }
